<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="./css/main.css">
  <link href="./node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="./node_modules/angular/angular.js"></script>
  <script src="./js/main.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lab4</title>
</head>
<body>

  <div  ng-app="lab4" ng-controller="TweetsCntl" class="content">
    <div id="filter">
      <p>
        <input ng-model="fullTextSearch" ng-model-instant placeholder="Search..." />
        <button ng-click="fullTextSearch=''">Clear</button>
      </p>
      <hr>
    </div>
    
    <div id="tweets">
      <div class="tweet" ng-repeat="tweet in tweets | filter:fullTextSearch | filter:structuredSearch">
        <img class="avatar" ng-src="{{tweet.profile_image_url}}"/>
        <p class="date">{{tweet.created_at}}</p>
        <p class="user">{{tweet.user.name}} 
          <span class="userid">@{{tweet.user.screen_name}}</span></p>
          <p class="text" ng-bind-html="tweet.text"> {{tweet.text}} <p>
        </div>
      </div>
    </div>

  </body>
  </html>