<!DOCTYPE html>
<html>
<head>
  <link href="./node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./css/main.css">
  <script src="./node_modules/angular/angular.js"></script>
  <script src="./node_modules/angular-sanitize/angular-sanitize.js"></script>
  <script src="./js/main.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lab4</title>
</head>
<body>

  <div  ng-app="lab4" ng-controller="TweetsCntl" class="content">
    <div id="filter">
      <p>
        <input ng-model="fullTextSearch" ng-model-instant placeholder="Search..." />
        <button ng-click=search(fullTextSearch)>Search</button>
        <button ng-click="search(fullTextSearch='')">Clear</button>
      </p>
    </div>
    
    <div id="tweets">
      <ul class="tweet row" ng-repeat="tweet in tweets | filter:fullTextSearch | filter:structuredSearch">
        <li class="col-sm-2"><img class="avatar" ng-src="{{tweet.user.profile_image_url}}"/></li>
        <li class="name col-sm-10">{{tweet.user.name}} 
          <span class="userid">@{{tweet.user.screen_name}}</span>
        </li>
        <p class="text col-md-12" ng-bind-html="tweet.text | tweetLinky"> {{tweet.text}} </p>
        </ul>
      </div>
    </div>

  </body>
  </html>